@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/part.css")">
    <!--===============================================================================================-->
    <script type="text/javascript">
            var incomesValue = @ViewBag.IncomesValue;
            var ExpenseValue = @ViewBag.ExpenseValue;
    </script>
</head>
<body>
    <div class="row">
        <!--=================================== Income Card =================================-->
        <div class="column">
            <div class="card-income">
                <h3>R$ @ViewBag.IncomesValue</h3>
                <h8>Total de Entradas</h8>
                <p>Dinheiro Gasto</p>
            </div>
        </div>

        <!--=================================== Expense Card =================================-->
        <div class="column">
            <div class="card-expense">
                <h3>R$ @ViewBag.ExpenseValue</h3>
                <h8>Total de Saidas</h8>
                <p>Dinheiro Gasto</p>
            </div>
        </div>

        <!--=================================== Total Card =================================-->
        <div class="column">
            <div class="card-total" style="width: 150%">
                <h3>R$ @ViewBag.Total</h3>
                <h8>Total Geral</h8>
                <p>Resultado</p>
            </div>
        </div>

        <!--=================================== Scaffold income =================================-->
        <div class="column">
            <div class="scaffold">
                @Html.ActionLink("Entradas", "Index", "Incomes", "", new { @class = "p", @style = "color: #2cb282" });
                <br /><br />
                <table>
                    @foreach (var transaction in ViewBag.Incomes)
                    {
                        <tr>
                            <td>@transaction.Name</td>
                            <td>R$ @transaction.Value</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <!--=================================== Scaffold Expense =================================-->
        <div class="column">
            <div class="scaffold">
                @Html.ActionLink("Saidas", "Index", "Expenses", "", new { @class = "p", @style = "color: #fc560c" });

                <br /><br />
                <table>
                    @foreach (var transaction in ViewBag.Expenses)
                    {
                        <tr>
                            <td>@transaction.Name</td>
                            <td>R$ @transaction.Value</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <!--=================================== Scaffold Total =================================-->
        <div class="column">
            <div class="scaffold" style="width: 150%">
                @Html.ActionLink("Sumário", null, null, new { @class = "p", @style = "color: #0070c0" });

                <!-- Styles -->
                <style>
                    #chartdiv {
                        width: 100%;
                        height: 150px;
                    }
                </style>

                <!-- Resources -->
                <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
                <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
                <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

                <!-- Chart code -->
                <script>
                                        am4core.ready(function () {

                                            am4core.useTheme(am4themes_animated);
                                            var chart = am4core.create("chartdiv", am4charts.PieChart);
                                            chart.data = [{
                                                "Transaction": "Expenses",
                                                "Money": ExpenseValue
                                            }, {
                                                "Transaction": "Incomes",
                                                "Money": incomesValue
                                            }];

                                            var pieSeries = chart.series.push(new am4charts.PieSeries());
                                            pieSeries.dataFields.value = "Money";
                                            pieSeries.dataFields.category = "Transaction";
                                            pieSeries.slices.template.stroke = am4core.color("#fff");
                                            pieSeries.slices.template.strokeWidth = 2;
                                            pieSeries.slices.template.strokeOpacity = 1;

                                            pieSeries.hiddenState.properties.opacity = 1;
                                            pieSeries.hiddenState.properties.endAngle = -90;
                                            pieSeries.hiddenState.properties.startAngle = -90;

                                        });
                </script>
                <div id="chartdiv"></div>

            </div>
        </div>

    </div>
</body>
</html>
